/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,a:hover,a:focus{
	text-decoration: none;
	display: inline-block;
}
@font-face {
    font-family: 'ludicrousregular';
    src: url('../font/ludicrous-webfont.woff2') format('woff2'),
         url('../font/ludicrous-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
	background: #fff url('../img/home-final-0.jpg') no-repeat center;
	background-size: cover;
	width: 100%;
	position: relative;
	padding-top: 50px;
}
/* Header */
header{
	background-color: rgba(151,66,24,0.70);
	position: relative;
	height: 50px;
}
header nav{
	position: relative;
}
header a{
	text-transform: capitalize;
}
@media all and (min-width: 318px){
	.header-logo{
		position: absolute;
		left: 6px;
		top: 6px;
		width: 60px;
		height: auto;
		padding: 4px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		box-shadow: 3px 3px 3px #ff0000;
		background: #fff;
	}
	.header-logo img{
		width: 100%;
		max-width: 100%;
	}
/* burger menu */
	.menu-icon {
		z-index: 1501;
		cursor: pointer;
		height: 30px;
		width: 30px;
		overflow: hidden;
		position: absolute;
		top: 10px;
		right: 6px;
	}
	.menu-icon span, .menu-icon span:before, .menu-icon span:after {
		background: rgba(255, 255, 255, 0.9);
		border-radius: 0;
		display: block;
		height: 4px;
		opacity: 1;
		position: absolute;
		transition: .25s ease-in-out;
	}
	.menu-icon span:before, .menu-icon span:after {
		content: ''; 
	}
	.menu-icon span {
		right: 0px;
		top: 13px;
		width: 30px;
	}
	.menu-icon span:before {
		right: 0px;
		top: -10px;
		width: 15px;
	}
	.menu-icon span:after {
		right: 0px;
		top: 10px;
		transition: all .25s ease-in-out;
		width: 20px;
	}
	.menu-icon.active span {
		left: 1px;
		transform: rotate(-45deg);
		top: 13px;
		width: 28px;
	}
	.menu-icon.active span:before {
		top: 0px;
		transform: rotate(90deg);
		width: 28px;
	}
	.menu-icon.active span:after {
		opacity: 0;
		top: 0px;
		transform: rotate(45deg);
		width: 0;
	}
	.navigation-list{
		display: none;
	}
	.navigation-list.open{
		display: block;
		position: absolute;
		top: 50px;
		background: rgba(151,66,24,0.70);
		width: 100%;
		top: 0;
		z-index: 1500;
	}
	.navigation-list ul{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.navigation-list li{
		display: block;
		border-bottom: 1px solid #fff;
		width: 100%;
	}
	.navigation-list li:last-child{
		border-bottom: 0;
	}
	.navigation-list li a{
		-webkit-box-shadow: 0px 2px 0px 0px rgba(151, 66, 24, 0.6);
		-moz-box-shadow:    0px 2px 0px 0px rgba(151, 66, 24, 0.6);
		box-shadow:         0px 2px 0px 0px rgba(151, 66, 24, 0.6);
	}
	.navigation-list li a,
	.cta-trigger a{
		color: #fff;
		font-family: Lato;
		font-weight: bold;
		line-height: normal;
		font-size: 16px;
	}
	.navigation-list li a{
		display: block;
		padding: 20px 20px;
	}
	.cta-trigger{
		position: absolute;
		top: 0px;
		right: 60px;
		height: 50px;
	}
	.cta-trigger a{
		padding: 14px 10px;
	}

}

@media all and (min-width: 480px){
	.menu-icon{
		display: none;
	}
	.navigation-list{
		display: block;
	}
	.navigation-list ul {
  		flex-direction: row;
  		flex-wrap: nowrap;
	}
	.navigation-list li{
		width: auto;
		border: 0px;
	}
	.navigation-list li a{
		display: block;
		padding: 14px 16px;
	}
	.cta-trigger{
		position: absolute;
		top: 0px;
		right: 0px;
		height: 50px;
	}

}

em{
	display: block;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media all and (min-width: 318px){
	main{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
		position: relative;
	}
}
.intro-left-side{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
}
.site-title{
	font: 60px/48px 'ludicrousregular';
	color: #fff;
}
.site-title-sub{
	font: 400 20px/48px 'Lato', sans-serif;
	color: #fff;
}
.marthon-lenght{
	font: 900 30px/46px 'Lato', sans-serif;
	color: #fff;	
}
.sponsor-list{
	display: flex;
	justify-content: center;
	align-items: center;
}
.sponsor-list li{
	padding: 0px 10px;
}
figcaption{
	font: 700 15px/normal 'Lato', sans-serif;
	letter-spacing: 2px;
	color: #fff;
}
.intro-right-side{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
	flex-wrap: nowrap;
}
.main-sponsor{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: row;
	flex-wrap: nowrap;
}
.clock-timer{
	position: relative;
}
.organizer-detail{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: nowrap;
}
.organizer-detail figure{
	text-align: right;
}
.cbcrf figcaption{
	font: 900 24px/29.64px 'Lato', sans-serif;	
	text-align: right;
}
.info-title{
	font: 46px/32px 'ludicrousregular';
	letter-spacing: 1px;
	color: #fff;
}
.location{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
}

.place-time{
	font: 900 22px/32px 'Lato', sans-serif;	
	color: #974218;
	background: #fff;
	text-align: right;
	display: inline-block;
}
.conditions{
	text-align: right;
	font: 400 12px/32px 'Lato', sans-serif;
	letter-spacing: 1px;
	color: #fff;
}